@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin: 0 auto;
  width: 950px;
}

#background {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  z-index: -999;
  background-repeat: repeat;
}

#resume {
  background-color: white;
  padding: 20px;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section {
  border-top: 1px solid black;
}

#objective p {
  margin: 25px auto;
  width: 80%;
}

#experience .jobentry:not(:last-child) {
  border-bottom: 1px dotted grey;
}

#experience .jobentry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

#experience .jobentry div {
  width: 50%;
}

#experience .jobentry .jobinfo {
  line-height: 1.5;
}

#experience .jobentry .jobinfo .jobdate {
  font-style: italic;
  color: #888;
}

#experience .jobentry .jobdesc {
  width: 50%;
}

#experience .jobentry .jobdesc li {
  margin-bottom: 2px;
  text-align: left;
}

#projects .projectentry:not(:last-child) {
  border-bottom: 1px dotted grey;
}

#projects .projectentry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#projects .projectentry .projecttitle {
  width: 50%;
}

#projects .projectentry .projectdesc {
  width: 50%;
  text-align: left;
  margin-left: 10px;
}

#skills #skilltable {
  width: 100%;
  border-collapse: collapse;
}

#skills #skilltable th,
#skills #skilltable td {
  border: 1px solid black;
  padding: 8px;
  width: calc(100% / 3);
}
