@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
  font-family: var(--font-family);
  font-style: normal;
  background-color: white;
  color: black;
}

.hidden {
  display: none;
}

/* NEW ITEM INPUT STYLES */
#newitem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px 0;
  margin-bottom: 20px;
}

#newitem #itemdesc {
  flex: 1 1 auto;
  font-family: var(--font-family);
  font-size: 12pt;
  border: 2px solid black;
  border-radius: 7px;
  padding: 7px;
}

#newitem #additem {
  font-family: var(--font-family);
  font-size: 12pt;
  background-color: white;
  border: 2px solid black;
  border-radius: 7px;
  margin-left: 5px;
  padding: 7px 15px;
}

#newitem #additem:hover {
  background-color: black;
  color: white; 
  cursor: pointer;
}

/* TODO LIST STYLES */
#todolist {
  padding: 0;
}

/* TODO ITEM STYLES */
.todoitem {
  display: flex;
  border: 2px solid black;
  padding: 10px;
  margin: 10px 0;
  border-radius: 7px;
  align-items: center;
  list-style: none;
  
}

.todoitem .itemstatus {
  margin-right: 15px;
  width: 20px;
  height: 20px;
  appearance: none;
  border: 2px solid black;
  border-radius: 50%;
}

.todoitem .itemstatus:checked {
  background-color: black;
}

.todoitem:has(.itemstatus:checked) .itemdesc {
  text-decoration: line-through;
}

.todoitem .itemdesc {
  width: 100%;
}

.todoitem .deletebutton {
  font-family: var(--font-family);
  font-size: 10pt;
  background-color: white;
  border: 2px solid black;
  border-radius: 7px;
  margin-left: 5px;
  padding: 5px 7px;
}
